@use'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

body{
    background-color: #ffffff;
}
header{
    
    .hero {
        padding-top: 64px;
        padding-bottom: 100px;
        background-image: url(../images/divertida-mente.jpg);
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
   


    &__text {
        margin-top: 35%;
        margin-bottom: 64px;
        font-size: 40px;
        font-weight: 800;
        color: rgb(2, 3, 4);
        margin-left: 56%;

    }
    span{
        color:pink;
    }
   
}}

.event {
    padding: 80px 0;
    background-color: beige;
    
    video{
        margin-left: 25%;
        margin-top: 5%;
        width: 55%;
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;

        }
    }
    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 450px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }
}

  
  /* Medium screens (tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    body {
      background-color: #714ea9;
    }


  }
  
  /* Small screens (mobiles) */
  @media (max-width: 767px) {
    body {
      background-color: #e334cc;
    }
   
  }
